# Node.js
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out
.build
.next/cache

# Development specific
.git
.gitignore
*.map
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE/Editors
.vscode
.idea
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Environment Files
#.env.local
#.env.production
